@import "./variables";
@import "./mixins";

.cards {
  background: #f6f6f6;
  padding: 56px 50px;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

main {
  justify-content: center;
  align-items: center;
}