.banner {
  height: 223px;
  width: 1240px;
  max-width: 1240px;
  min-width: 50px;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;


  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
  }

  &__title {
    position: relative;
    color: white;
    font-size: 48px;
    font-weight: 700;
    z-index: 1;
  }
}